<template>
  <header>
    <nav>
      <ul>
        <li>
          <nuxt-link to="/">Home</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/decks">Decks</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/profile">Profile</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/settings">Settings</nuxt-link>
        </li>
      </ul>
    </nav>
  </header>
</template>
<style lang="scss" scoped>
header {
  background: #000;
  color: white;
  height: 60px;
  nav,
  ul {
    height: inherit;
    text-align: center;
  }
  ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    li {
      margin: 0 1.5rem;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }

        &.nuxt-link-exact-active {
          color: red;
        }
      }
    }
  }
}
</style>
