<template>
  <section>
    <div class="r">
      <div class="ct text_center">
        <h3>Decks: {{ deck.name }}</h3>
        <div class="tools">
          <button class="btn btn_success">Start Now</button>
          <button
            class="btn btn_primary"
            @click.prevent="openModal('CreateCardmodal')"
          >
            Create a card
          </button>
          <button
            class="btn btn_warning"
            @click.prevent="openModal('DeckFormModal')"
          >
            Edit Deck
          </button>
        </div>
        <hr class="divide" />
        <div class="r">
          <card-list
            v-for="card in cards"
            :key="card._id"
            :keyword="card.keyword"
            :picture="card.picture"
          />
        </div>
      </div>
    </div>
    <!--------Modal-------->
    <v-modal name="CreateCardmodal">
      <div class="modal_body">
        <h3>Create a new Card</h3>
        <form action="">
          <div class="porn_group">
            <label for="">Name:</label>
            <input
              class="form_control"
              type="text"
              placeholder="Please enter name deck"
            />
          </div>
          <div class="porn_group">
            <label for="">Description:</label>
            <textarea
              class="form_control"
              placeholder="Please enter description"
            ></textarea>
          </div>
          <div class="porn_group">
            <label for="">Thumbnail:</label>
            <input type="file" />
            <div class="preview"></div>
          </div>
          <div class="form_group d_flex justify_content_end">
            <button class="btn btn_danger" @click.prevent="closeModal">
              Close Modal
            </button>
            <button class="btn btn_success ml_3" @click.prevent="">
              Create
            </button>
          </div>
        </form>
      </div>
    </v-modal>
  </section>
</template>

<script>
import axios from 'axios'

import CardList from '@/components/Cards/CardList'
export default {
  components: {
    // eslint-disable-next-line vue/no-unused-components
    CardList,
  },
  asyncData(context) {
    return axios
      .get(
        `https://nuxt-learning-english-4a130-default-rtdb.firebaseio.com/decks/${context.params.id}.json`
      )
      .then((response) => {
        return {
          deck: response.data,
        }
      })
      .catch((e) => {
        context.error(e)
      })
  },
  data() {
    return {
      cards: [
        {
          _id: 1,
          picture:
            'https://footwearnews.com/wp-content/uploads/2019/11/nike-af1-para-noise.jpg?w=1024',
          keyword: 'Nike',
        },
        {
          _id: 2,
          picture:
            'https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F11%2Fg-dragon-peaceminusone-nike-af1-07-para-noise-2-0-official-release-date-dd3223-100-youtopia-000.jpg?w=960&cbr=1&q=90&fit=max',
          keyword: 'Nike',
        },
        {
          _id: 3,
          picture:
            'https://footwearnews.com/wp-content/uploads/2019/11/nike-af1-para-noise.jpg?w=1024',
          keyword: 'Nike',
        },
        {
          _id: 4,
          picture:
            'https://footwearnews.com/wp-content/uploads/2019/11/nike-af1-para-noise.jpg?w=1024',
          keyword: 'Nike',
        },
      ],
    }
  },
  methods: {
    closeModal() {
      this.$modal.close({ name: 'CreateCardmodal' })
    },
    openModal(name) {
      if (name === 'CreateCardmodal') {
        this.$modal.open({ name: 'CreateCardmodal' })
      } else if (name === 'DeckFormModal') {
        this.$modal.open({
          name: 'DeckFormModal',
          payload: { ...this.deck, id: this.$route.params.id },
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.r {
  display: flex;
  flex-direction: row;
  .c_3 {
    .card {
      .front_card {
        .card_img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.modal_body {
  background-color: #fff;
  padding: 1rem;
  color: black;
}
</style>
