<template>
  <div>
    <div class="ct">
      <div class="d_flex justify_content_between my_3">
        <h3>List of your decks :</h3>
        <button class="btn btn_success" @click.prevent="openModal">
          Create decks
        </button>
      </div>
      <ul class="decks-list">
        <deck-list
          v-for="decks in decks"
          :id="decks.id"
          :key="decks.id"
          :name="decks.name"
          :description="decks.description"
          :thumbnail="decks.thumbnail"
        />
      </ul>
    </div>
  </div>
</template>
<script>
import DeckList from '@/components/Decks/DeckList'
export default {
  components: {
    DeckList,
  },
  computed: {
    DeckList,
    decks() {
      return this.$store.getters.decks
    },
  },
  methods: {
    openModal() {
      this.$modal.open({ name: 'DeckFormModal' })
    },
  },
}
</script>

<style lang="scss">
.decks-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .deck {
    display: block;
  }
  li {
    margin-top: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .decks-card {
    display: flex;
    flex-direction: row;
    height: 150px;
    img {
      width: 200px;
      height: auto;
    }
    .card_body h3,
    p:hover {
      list-style: none;
    }
  }
}
.modal_body {
  background-color: #fff;
  padding: 1rem;
  color: black;
}
</style>
