<template>
  <footer class="text_center">
    <hr class="my_5" />
    <p>
      Design by :
      <a href="https://www.facebook.com/nguyen.an.ahihiihi" target="_blank"
        >Nguyễn Đình An</a
      >
    </p>
    <p>2020</p>
  </footer>
</template>
