<template>
  <div class="c_3 mb_3">
    <div class="card">
      <div class="front_card">
        <img class="card_img" :src="picture" />
      </div>
      <div class="back_card">{{ keyword }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    keyword: {
      type: String,
      required: true,
    },
    picture: {
      type: String,
      required: true,
    },
  },
}
</script>
