<template>
  <form @submit.prevent="onSave">
    <div class="porn_group">
      <label for="">Name:</label>
      <input
        v-model="editeDeck.name"
        class="form_control"
        type="text"
        placeholder="Please enter name deck"
      />
    </div>
    <div class="porn_group">
      <label for="">Description:</label>
      <textarea
        v-model="editeDeck.description"
        class="form_control"
        placeholder="Please enter description"
      ></textarea>
    </div>
    <div class="porn_group">
      <label for="">Thumbnail:</label>
      <input
        v-model="editeDeck.thumbnail"
        class="form_control"
        type="text"
        placeholder="https://exemple.com/foo.pnj"
      />
      <div class="preview"></div>
    </div>
    <div class="forn_group d_flex justify_content_end">
      <button class="btn btn_danger" @click="closeModal">Close</button>
      <button class="btn btn_success ml_3" type="submit">
        {{ editeDeck && editeDeck.id ? 'Edit' : 'Create' }}
      </button>
    </div>
  </form>
</template>
<script>
export default {
  props: {
    deck: {
      type: Object,
      required: false,
      default: () => ({
        name: '',
        description: '',
        thumbnail: '',
      }),
    },
  },
  data() {
    return {
      editeDeck: this.deck
        ? { ...this.deck }
        : {
            name: '',
            description: '',
            thumbnail: '',
          },
    }
  },
  methods: {
    closeModal() {
      this.$modal.close({ name: 'DeckFormModal' })
    },
    onSave() {
      this.$emit('submit', this.editeDeck)
    },
  },
}
</script>
