<template>
  <li>
    <nuxt-link style="list-style: none" class="deck" :to="`/decks/${id}`"
      ><div class="card decks-card">
        <img :src="thumbnail" :alt="`Thumbnail of ${name}`" />
        <div class="card_body">
          <h3>{{ name }}</h3>
          <p>{{ description }}</p>
          <button class="btn btn_danger" @submit="deckDelete">Delete</button>
        </div>
      </div></nuxt-link
    >
  </li>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      require: true,
    },
    description: {
      type: String,
      default: '',
    },
    thumbnail: {
      require: String,
      required: true,
    },
  },
}
</script>
