<template>
  <div>
    <DefaultHeader />
    <Nuxt />
    <!--------Modal-------->
    <v-modal v-slot="payload" name="DeckFormModal">
      <div class="modal_body">
        <h3>
          {{ payload && payload.payload ? 'Edit a Deck' : 'Create a Deck' }}
        </h3>
        <deck-form :deck="payload.payload" @submit="onSubmit" />
      </div>
    </v-modal>
    <DefaultFooter />
  </div>
</template>
<script>
import axios from 'axios'

import DeckForm from '@/components/Decks/DeckForm'
import DefaultHeader from '@/components/Header/DefaultHeader'
import DefaultFooter from '@/components/Foodter/DefaultFooter'
export default {
  components: {
    DeckForm,
    DefaultFooter,
    DefaultHeader,
  },
  methods: {
    onSubmit(deckData) {
      if (deckData && !deckData.id) {
        axios
          .post(
            'https://nuxt-learning-english-4a130-default-rtdb.firebaseio.com/decks.json',
            deckData
          )
          .then((data) => {
            console.log(data)
          })
          .catch((e) => {
            console.log(e)
          })
      } else {
        const deckId = deckData.id
        delete deckData.id
        axios
          .put(
            'https://nuxt-learning-english-4a130-default-rtdb.firebaseio.com/decks/' +
              deckId +
              '.json',
            deckData
          )
          .then((data) => {
            console.log(data)
          })
          .catch((e) => {
            console.log(e)
          })
      }
    },
  },
}
</script>
<style>
body {
  font-family: 'Open Sans', sans-serif;
}
</style>
