<template>
  <div class="ct">
    <div class="banner">
      <div class="thumbnail-banner"></div>
    </div>
    <div class="popular-decks">
      <h3 class="text_center my_3">3 Popular Deck Popular For You</h3>
      <div class="r">
        <div v-for="homeCard in homeCard" :key="homeCard._id" class="c_4">
          <div class="card">{{ homeCard.text }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      homeCard: [
        {
          _id: 1,
          text: 'Deck 1',
        },
        {
          _id: 2,
          text: 'Deck 2',
        },
        {
          _id: 3,
          text: 'Deck 3',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.banner {
  height: 220px;
  .thumbnail-banner {
    width: 100%;
    height: 100%;
    background: url('https://hstatic.net/247/1000066247/10/2016/3-13/nike-banner-1024x283.jpg')
      center center;
    margin-top: 5px;
  }
}
</style>
