<template>
  <div class="page">
    <div class="nav">
      <ul>
        <li>
          <span>( 1 ) </span> <nuxt-link to="/settings">General</nuxt-link>
        </li>
        <li>
          <span>( 2 ) </span> <nuxt-link to="/settings/deck">Decks</nuxt-link>
        </li>
        <li>
          <span>( 3 ) </span>
          <nuxt-link to="/settings/schedule">Schedule</nuxt-link>
        </li>
      </ul>
    </div>
    <div class="general">
      <nuxt-child />
    </div>
  </div>
</template>
<style lang="scss">
.page {
  display: flex;
  nav,
  ul {
    li {
      list-style: none;
      span {
        color: #3b8070;
      }
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
</style>
