<template>
  <div>
    <h1>Hello Test</h1>
    <img
      src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F11%2Fg-dragon-peaceminusone-nike-af1-07-para-noise-2-0-official-release-date-dd3223-100-youtopia-000.jpg?w=960&cbr=1&q=90&fit=max"
      ,
      alt="Thumbnail card"
    />
  </div>
</template>
